Android Open Source Project
Code
Electron
GitKraken
Google/AndroidStudio2024.1
HTTPie
Kvantum-backup-back-up_0720_0728
Kvantum-backup-back-up_1017_1834
Mousepad
Notion
Postman
Thunar
ags
ags-backup-back-up_0720_0728
ags-backup-back-up_1017_1834
anyrun
autostart
btop-backup-back-up_0720_0728
btop-backup-back-up_1017_1834
cava
cava-backup-back-up_0720_0728
cava-backup-back-up_1017_1834
chromium
configstore
cosmic/com.system76.CosmicTerm/v1
cubocore
dconf
depot_tools
evolution/sources
fastfetch-backup-back-up_0720_0728
fastfetch-backup-back-up_1017_1834
flutter
fontconfig
foot/foot.ini
fuzzel
glib-2.0/settings
glow
go/telemetry/local
hypr-backup-back-up_1017_1834
jxbrowser/7.38.2/crash-reports
kitty-backup-back-up_0720_0728
kitty-backup-back-up_1017_1834
libreoffice/4/user
menus/applications-merged
mpv
nekoray/config
neofetch
nextjs-nodejs
nixos
nvim-backup-back-up_1017_1834
pulse
qt5ct
qt5ct-backup-back-up_0720_0728
qt5ct-backup-back-up_1017_1834
qt6ct
qt6ct-backup-back-up_0720_0728
qt6ct-backup-back-up_1017_1834
rofi-backup-back-up_0720_0728
rofi-backup-back-up_1017_1834
swappy
swappy-backup-back-up_0720_0728
swappy-backup-back-up_1017_1834
swaync-backup-back-up_0720_0728
swaync-backup-back-up_1017_1834
vlc
wallust-backup-back-up_0720_0728
wallust-backup-back-up_1017_1834
warp-terminal
waybar-backup-back-up_0720_0728/wallust
waybar-backup-back-up_1017_1834
wlogout-backup-back-up_0720_0728
wlogout-backup-back-up_1017_1834
user-dirs.locale
user-dirs.dirs
thorium-flags.conf
starship.toml
pavucontrol.ini
mimeapps.list
kactivitymanagerdrc
code-flags.conf
chrome-flags.conf
background
QtProject.conf
.gsd-keyboard.settings-ported
